.cta__block {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  @include media-query('md') {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}