#video-section {
  display: flex; 
  align-items: center; 
  position: relative;
  overflow: hidden;
  background-color: #E8F6F6;
    &::before {
      content: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 783 736'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M313.941 94.681c64.734 17.193 123.205 40.432 182.409 71.739 70.645 37.358 151.435 61.602 195.62 128.164 52.065 78.43 100.577 179.349 66.855 267.23-33.665 87.728-140.25 120.529-228.293 153.475-69.434 25.982-143.28 24.062-216.591 13.001-63.546-9.588-123.425-31.987-173.775-71.901-48.668-38.58-82.334-90.682-104.488-148.683-23.19-60.715-25.557-123.654-24.35-188.632C13.07 225.226-31.18 102.278 44.244 46.349 119.434-9.405 223.457 70.65 313.94 94.68z' fill='%23F2F9FD'/%3E%3C/svg%3E");
      width: 568px;
      height: auto;
      position: absolute;
      bottom: 7rem;
      left: -9rem;
      @include media-query('md') {
        content: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 783 736'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M313.941 94.681c64.734 17.193 123.205 40.432 182.409 71.739 70.645 37.358 151.435 61.602 195.62 128.164 52.065 78.43 100.577 179.349 66.855 267.23-33.665 87.728-140.25 120.529-228.293 153.475-69.434 25.982-143.28 24.062-216.591 13.001-63.546-9.588-123.425-31.987-173.775-71.901-48.668-38.58-82.334-90.682-104.488-148.683-23.19-60.715-25.557-123.654-24.35-188.632C13.07 225.226-31.18 102.278 44.244 46.349 119.434-9.405 223.457 70.65 313.94 94.68z' fill='%23F2F9FD'/%3E%3Cpath clip-rule='evenodd' d='M324.941 69.681c64.734 17.193 123.205 40.432 182.409 71.739 70.645 37.358 151.435 61.602 195.62 128.164 52.065 78.43 100.577 179.349 66.855 267.23-33.665 87.728-140.25 120.529-228.293 153.475-69.434 25.982-143.28 24.062-216.591 13.001-63.546-9.588-123.425-31.987-173.775-71.901-48.668-38.58-82.334-90.682-104.488-148.683-23.19-60.715-25.557-123.654-24.35-188.632C24.07 200.226-20.18 77.278 55.244 21.349 130.434-34.405 234.457 45.65 324.94 69.68z' stroke='%23EBD301' stroke-width='3'/%3E%3C/svg%3E");
        width: 750px;
        height: auto;
        position: absolute;
        bottom: initial;
        top: -2rem;
        left: -3rem;
      }
    }
}

.video__block {
  display: flex;
  flex-flow: column;
  .info {
    z-index: 2;
  }
  .video {
    order: -1;
  }
  @include media-query('md') {
    flex-flow: row;
    .video {
      order: 1;
    }
  }
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  @include media-query('md') {
    padding-top: initial;
  }
}